machine_learning_foundations/archive
stats_workshop/**/*.md
stats_workshop/generate_notebooks_from_markdowns.sh
stats_workshop/Stats_workshop_challenge1.md
stats_workshop/Stats_workshop_challenge1.ipynb
stats_workshop/Stats_workshop_challenge2.md
stats_workshop/Stats_workshop_challenge2.ipynb
